body { 
    font-family: "Suranna", serif;
    font-weight: 700;
    text-align: center; 
    margin: 20px; 
    background-color: rgb(77, 77, 77);
    color: rgb(203, 203, 203);
}

.textSize,
h2 {
    font-family: "Artifika", serif;
    font-size: 1.5rem;
    color: rgb(240, 240, 240);
}
    
.row { 
    margin: 10px; 
    font-family: "Bree Serif", serif;
}

#row1,
#row2,
#row3,
#row4 { 
    font-family: Sancreek, sans-serif; 
    font-size: 1.25rem;
    font-weight: bold;
}

.color-box { 
    display: inline-block; 
    width: 80px; 
    height: 30px; 
    margin: 5px; 
    border-radius: 5px; 
}

.btn { 
    padding: 8px 12px; 
    margin: 5px; 
    cursor: pointer; 
    font-family: "Galindo", sans-serif;
    font-size: 1.25rem;
}

.total-breakdown {
    font-family: "Nerko One", cursive;
    font-size: 2rem;
}

.latest-entry, 
.total-breakdown, 
.blended-colors {
     margin-top: 20px; 
    }

.latest-color-bar { 
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}

.editable { 
    cursor: pointer; 
    text-decoration: underline; 
}

#theColorCode {
    font-family: "League Gothic", sans-serif; 
    font-family: "Sancreek", serif;
}

/* .purple {
    background-color: rgb(180, 123, 234);
}

.blue {
    background-color: rgb(113, 178, 244);
}

.green {
    background-color: rgb(94, 212, 84);
}

.yellow {
    background-color: rgb(244, 244, 9);
} */